/* Todos los elementos de la pagina */

{
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

/* Todos los parrafos de la pagina */
p 
{
   color: blue;
 }

/* Todos los párrafos contenidos en "primero" */
#primero p
{
  color: red;
}

/* Todos los enlaces la pagina */
a 
{
  color: black;
}

/* Los elementos "em" contenidos en "primero" */
#primero em
{ 
  background-color: #FFFFCC;
}

/* Todos los elementos "em" de clase "especial" en toda la pagina */
em.especial
{
  background-color: #ed2bf0;
}

/* Elementos "span" contenidos en la clase normal */
.normal {
  font-weight: bold;
}

.roboto> {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/*aqu van los cambios en los links*/

a:link 
{
color:green
}

a:visited
{
  color: red;
}

a:hover 
{
color: yellowgreen;
}

a:active 
{
  color: beige;
}

